body 
{
	background-color: #f9fdff;
	margin: 0px 0px 0px 0px;
	padding: 19px 17px 19px 17px;
	text-align: left;
}

a:link, a:active, a:visited, a:hover
{
	text-decoration: none;
	color: #000000;
}

.bodywidth
{
	width: 800px;
}

div.messages table
{
	border: solid;
	border-width: 1px;
	border-color: #cccccc;
    width: 100%
}


* .c1-even 
{ 
    width: 10%;
    background-color: #dcf6ff;  
}

* .c2-even
{ 
    width: 30%; 
    background-color: #dcf6ff;  
}

* .c3-even
{ 
    width: 12%; 
    text-align: center;
    background-color: #dcf6ff;  
}

* .c4-even
{ 
    width: 5%;
    text-align: center;
    background-color: #dcf6ff;  
}

* .c1-odd 
{ 
    width: 10%;
    background-color: #ecfaff;  
}

* .c2-odd
{ 
    width: 30%; 
    background-color: #ecfaff;  
}

* .c3-odd
{ 
    width: 12%; 
    text-align: center;
    background-color: #ecfaff;  
}

* .c4-odd
{ 
    width: 5%;
    text-align: center;
    background-color: #ecfaff;  
}

td, th
{
	padding: 2px;
}

a:link, a:active, a:hover, a:visited
{
	color: blue;
	text-decoration: underline;
}


h1
{
	font-size: 20px;
	font-weight: bold;
	clear: both;
    text-align: right;
}


h2
{
	font-size: 14px;
	font-weight: bold;
	float: left;
}

p
{
	padding-top: 25px;
}


img#logo
{
	float: right;
}

span#copyright
{
	margin-top: 29px;
	float: left;
	color: red;
	font-weight: bold;
}

span.warning
{
	margin-top: 29px;
	float: left;
	color: red;
	font-weight: bold;
}

span.info
{
	margin-top: 29px;
	float: left;
	color: #006600;
	font-weight: bold;
}

hr#hrtop
{
	clear: both;
	margin-bottom: 10px;
}

hr#hrbottom
{
	clear: both;
	margin-top: 20px;
}

input.topmargin
{
	margin-top: 4px;
}

div.welcome
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-color: #808080;
    margin-top: 125px;
}

div.login
{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-color: #808080;
    margin-top: 25px;
}

div.sorry
{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
	text-color: #808080;
	margin-top: 150px;
}

div.notification 
{
    font-size: 14px;
    text-align: left;
}

.stdinwidth
{
	width: 250px;
}

td.first
{
	padding-right: 15px;
}


