{% extends "messages/base.html" %} 
{% load i18n %} 
{% block title %}
{% trans "Compose Message" %}
{% endblock %}

{% block content %} 
<h1>{% trans "Compose Message"%}</h1>

<ul>Recipients <a href="/recipients/"><img src="/MEDIA/img/actions/png/reload.png" width="16" height="16" border="0" title="Update recipients" alt="update"></a><br>{% for recipient in user.recipients.all %}<img src="/MEDIA/img/flags/png/{{ recipient.country }}.png"/> <small>({{recipient.karma}})</small> {{ recipient }}<br>{% endfor %}</ul>

<form action="" method="post">
<table>
{{ form.as_table }}
</table>
<input type="submit" value="{% trans "Send" %} &raquo;"/>
</form>

{% endblock %}
