{% extends "messages/base.html" %} 
{% load i18n %} 
{% block title %}
{% trans "Inbox" %}
{% endblock %}
{% block content %}
    <h1>{% trans "Inbox" %}</h1>
    {% if message_list %}
        <div class="messages">
        <table class="messages">
            <tbody>
        {% for message in message_list %} 
            <tr>

                <td class={% cycle 'c1-odd' 'c1-even' %}>{{ message.sender.first_name }} {{ message.sender.last_name }}</td>
                <td class={% cycle 'c2-odd' 'c2-even' %}>
                    {% if message.new %}<strong>{% endif %}
                    {% if message.replied %}<em>{% endif %}
                    <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
                    {% if message.replied %}</em>{% endif %}
                    {% if message.new %}</strong>{% endif %}</td>
                <td class={% cycle 'c3-odd' 'c3-even' %}>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
                <td class={% cycle 'c4-odd' 'c4-even' %}><a href="{% url messages.views.delete message.id %}">{% trans "delete" %}</a></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
        <div class="sorry">{% trans "There are no messages in your Inbox" %}</div>
    {% endif %}
{% endblock %}
