{% load i18n %}{% blocktrans with message.recipient as recipient and message.sender as sender %}Hello {{ recipient.first_name }} {{ recipient.last_name }},

you received a private message from {{ sender.first_name }} {{ sender.last_name }} with
the following contents:{% endblocktrans %}

{{ message.body|safe }}

--
{% blocktrans %}Sent from {{ site_url }}{% endblocktrans %}
{% trans "Inbox" %}: {{ site_url }}{% url messages_inbox %}
{% trans "Reply" %}: {{ site_url }}{% url messages_reply message.pk %}     
