{% extends "messages/base.html" %} 
{% load i18n %} 
{% block title %}
{% trans "Sent Messages" %}
{% endblock %}
{% block content %} 
<h1>{% trans "Sent Messages" %}</h1>
    {% if message_list %}
    <div class="messages">
    <table>
        <tbody>
    {% for message in message_list %}
        <tr">
            <td class="c1">{{ message.recipient.first_name }} {{ message.recipient.last_name }}</td>
            <td class="c2">
            <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
            </td>
            <td class="c3">{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
            <td class="c4"><a href="{% url messages_delete message.id %}?next={% url messages_outbox %}">{% trans "delete" %}</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
        <div class="sorry">{% trans "There are no messages in your Outbox" %}</div>
    {% endif %}
{% endblock %}
