{% extends "messages/base.html" %} 
{% load i18n %} 
{% block title %}
{% trans "Deleted Messages" %}
{% endblock %}
{% block content %} 
<h1>{% trans "Deleted Messages" %}</h1>
    {% if message_list %}
    <div class="messages">
    <table>
        <tbody>
    {% for message in message_list %} 
        <tr>
            <td class="c1">{{ message.sender.first_name }} {{ message.sender.last_name }}</td>
            <td class="c2"> 
            {{ message.subject }}
            </td>
            <td class=c3>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
            <td class=c4><a href="{% url messages_undelete message.id %}">{% trans "undelete" %}</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    {% else %}
        <div class="sorry">{% trans "There are no messages in your Trash" %}</div>
    {% endif %}
{% endblock %}
