{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if user %}
<ul>First name: {{ user.first_name }}</ul>
<ul>Family name: {{ user.last_name }}</ul>
<ul>Language: {{ user.language }}</ul>
<ul>Country: {{ user.country }} <img src="/MEDIA/img/flags/png/{{ user.country|lower }}.png" alt={{ country|escape }}/></ul>
<ul>Gender: {{ user.gender }}</ul>
<ul>Age: {{ user.age }}</ul>
<ul>Keywords: {{ user.keywords }}</ul>
<ul>Username: {{ user.username }}</ul>
{% endif %}

{% if error_message %}
<ul>{{ error_message }}</ul>
{% endif %}

{% endblock %}

