{% extends "prebase.html" %}
{% load i18n %}
{% block head %}
<link rel="Stylesheet" href="/MEDIA/css/master.css" media="screen" />
<link rel="Stylesheet" href="/MEDIA/css/menu.css" media="screen" />
{% endblock %}
<title>{% block title %}{% endblock %}</title>
{% block breadcrumbs %}{% endblock %}

{% block pretitle %}{% endblock %}
{% block content_title %}{% endblock %}
{% block greetings %}
{% if user %}
<div class="menu "> 
<ul><li>
    <a href="/preferences/"><img src="/MEDIA/img/flags/png/{{ user.country }}.png" alt="{{ user.country }}" border="0" title="{{ user.country }}"/> {% trans "Hi," %} {{ user.first_name }}!
<img src="/MEDIA/img/status/png/karma-{{ user.karma }}-mini.png" border="0" alt="{% trans "Karma" %}" title="{% trans "Karma: " %} {{ user.karma }}">
</a></li></ul>
<ul><li><a href="/messages/">{% trans "Messages" %}</a>
<ul>
<li><a href="/messages/compose/">{% trans "Compose" %}</a></li>
<li><a href="/messages/inbox/">{% trans "Inbox" %}</a></li>
<li><a href="/messages/outbox/">{% trans "Sent" %}</a></li>
<li><a href="/messages/trash/">{% trans "Trash" %}</a></li>
</ul>
</li></ul>

<ul><li><a href="/preferences/">{% trans "Preferences" %}</a>
</li></ul>

<ul><li><a href="/logout/">{% trans "Logout" %}</a></li></ul>

</div>

{% endif %}
{% endblock %}

{% block notification %}
<div class="notification">
{% if messages %}
{% for message in messages %}<p>{{ message|escape }}</p>{% endfor %}
{% endif %}
</div>
{% endblock %}

{% block recipients %}{% endblock %}
{% block content %}
{% block object-tools %}{% endblock %}
{{ content }}
{% endblock %}
{% block sidebar %}{% endblock %}
{% block footer %}<div id="footer"></div>{% endblock %}

